:root {
    /* *************************************************************************/

    /* FONTS                                                                   */

    /* *************************************************************************/
    --font-family-sans-serif: "Source Sans Pro", arial, sans-serif;
    --font-family-serif: georgia, times, "Times New Roman", serif;
    --font-family-base: var(--font-family-sans-serif);
    --font-family-publico-bold: "Publico Headline Bold";
    --font-family-publico-headline: "Publico Headline";
    --font-family-publico: "Publico";
    --font-size-base: 16;
    --font-weight-500: 500;

    /* *******************************************************************************/

    /* SIZING                                                                  */

    /* *************************************************************************/
    --size-2: 2px;
    --size-4: 4px;
    --size-8: 8px;
    --size-10: 10px;
    --size-12: 12px;
    --size-14: 14px;
    --size-16: 16px;
    --size-20: 20px;
    --size-24: 24px;
    --size-28: 28px;
    --size-32: 32px;
    --size-48: 48px;

    /* *************************************************************************/

    /* BORDERS                                                                 */

    /* *************************************************************************/
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-32: 32px;
    --radius-40: 40px;
    --radius-100: 100vmax;

    /* *************************************************************************/


    /* ANIMATIONS                                                              */

    /* *************************************************************************/

    --transition-duration: 0.2s;

    /* *************************************************************************/


    /* COLORS                                                              */

    --nx-color-gray: grey;
    --nx-color-red: red;
    --nx-background-color: #ffe6e6;
    --nx-card--promo-color: #3377ec;
    --nx-card--texblock-color: #F6F5F5;
    /* *************************************************************************/

    --blue: #1976d2;
    --blue-focus: #1e88e5;
    --grey: #333;
    --primary-purple: #5b4bff;
    --primary-purple-light: #7a5cff;
    --primary-purple-bg: #f5f6ff;
    --primary-purple-bg-hover: #eceeff;
    --select-white: #f1f3f5;
    --white: #ffffff;

    /* *************************************************************************/

}