@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* *************************************************************************/
  /* SIZING                                                                 */
  /* ************************************************************************/
  --size-2: 2px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-48: 48px;
  --size-60: 60px;
  --size-110: 110px;
  --size-140: 140px;
  --size-280: 280px;

  /* *************************************************************************/
  /* BORDERS                                                                 */
  /* *************************************************************************/
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-100: 100vmax;

  /***************************************************************************/
  /* COLORS                                                                  */
  /***************************************************************************/
  --color-primary: #008ecc;
}
